.container {
    position: absolute;
    left: 1rem;
    top: 1rem;
    bottom: 1rem;
    z-index: 4;
    max-width: calc(50% - 40px - 2px);
    display: flex;
    flex-direction: column;
    overflow: auto;

    .amplify-accordion {
        z-index: 4;
        position: relative;
    }
}
