/*!
 * Copyright Amazon.com, Inc. or its affiliates. All Rights Reserved.
 * SPDX-License-Identifier: MIT-0
 */

.container {
	margin: 1rem calc(32px) 1rem 1rem;
	z-index: 4;
	width: 400px;
	max-width: 400px;
	min-width: 300px;
}

.optional-items {
	overflow: scroll;
	scrollbar-width: none !important;
}
