.bottom-sheet {
	@media screen and (max-width: 844px) {
		[data-rsbs-overlay] {
			width: 24.61rem;
			margin-left: 0.8rem;
		}
	}

	@media screen and (max-width: 500px) {
		[data-rsbs-overlay] {
			width: unset;
			margin-left: unset;
		}
	}
}
