/* Copyright Amazon.com, Inc. or its affiliates. All Rights Reserved. */
/* SPDX-License-Identifier: MIT-0 */

.card-container {
	cursor: pointer;
	margin-bottom: 50px;
	width: 100%;

	.amplify-card {
		box-shadow: none;
		border-color: var(--grey-color-1) !important;
		border-radius: 10px;

		img {
			border-radius: 10px 10px 0px 0px;
		}
	}

	.card-text {
		line-height: 1.4;
		margin-top: 4px;
		margin-bottom: 5px;
	}

	.card-tags {
		.amplify-badge {
			padding-left: 25px;
			padding-right: 25px;
			font-weight: normal;
			font-family: "AmazonEmber-Regular";
		}

		flex-wrap: wrap;
		margin-top: 10px;
	}

	.card-image {
		width: 100%;
		max-height: 300px;
	}

	.card-content {
		align-items: flex-start;
		padding: 4%;
	}
}
