/*!
 * Copyright Amazon.com, Inc. or its affiliates. All Rights Reserved.
 * SPDX-License-Identifier: MIT-0
 */

.coordinate-input-container {
	.input-label {
		color: #232f3e;
		font-weight: 700;
		font-family: "AmazonEmber-Medium";
		font-size: 1rem;
		margin-bottom: 0.5rem;
	}

	.input-container {
		position: relative;
		display: flex;
		align-items: center;
		width: 100%;

		.input-field {
			flex: 1;
			border-radius: 8px;
			border: none;
			outline: none;
			background-color: #f2f2f7;
			padding: 0.5rem 0.75rem;
			padding-right: 32px;
			font-size: 1rem;
			color: var(--tertiary-color);
			font-family: "AmazonEmber-Regular";
			width: 100%;
			-webkit-appearance: none;
			-moz-appearance: none;
			appearance: none;

			&::-webkit-outer-spin-button,
			&::-webkit-inner-spin-button {
				-webkit-appearance: none;
				margin: 0;
			}

			&:focus {
				background-color: white;
				box-shadow: 0px 0px 0px 2px #008296;
			}

			&:disabled {
				background-color: var(--grey-color-4);
				color: var(--grey-contrast-color);
				cursor: not-allowed;
				opacity: 0.5;
			}

			&::placeholder {
				color: var(--grey-color);
			}
		}

		.clear-button {
			position: absolute;
			right: 4px;
			background: transparent;
			border: none;
			padding: 0.2rem;
			width: 24px;
			height: 24px;
			cursor: pointer;
			border-radius: 4px;
			display: flex;
			align-items: center;
			justify-content: center;
			color: var(--grey-color);

			&:hover {
				background-color: #f2f2f7;
				color: var(--tertiary-color);
			}

			&:disabled {
				cursor: not-allowed;
				opacity: 0.5;
			}
		}
	}
}
